<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>house_@x3</string>
		<key>title</key>
		<string>Комунальные</string>
		<key>transactionType</key>
		<integer>1</integer>
		<key>order</key>
		<string>1</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>apple_</string>
		<key>title</key>
		<string>Продукты</string>
		<key>transactionType</key>
		<integer>1</integer>
		<key>order</key>
		<string>2</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>bowl_</string>
		<key>title</key>
		<string>Развлечение</string>
		<key>transactionType</key>
		<integer>1</integer>
		<key>order</key>
		<string>3</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>cloth_</string>
		<key>title</key>
		<string>Одежда</string>
		<key>transactionType</key>
		<integer>1</integer>
		<key>order</key>
		<string>4</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>food_</string>
		<key>title</key>
		<string>Еда</string>
		<key>transactionType</key>
		<integer>1</integer>
		<key>order</key>
		<string>5</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>fuel_</string>
		<key>title</key>
		<string>Топливо</string>
		<key>transactionType</key>
		<integer>1</integer>
		<key>order</key>
		<string>6</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>sport_</string>
		<key>title</key>
		<string>Спорт</string>
		<key>transactionType</key>
		<integer>1</integer>
		<key>order</key>
		<string>7</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>other_</string>
		<key>title</key>
		<string>Другое</string>
		<key>transactionType</key>
		<integer>1</integer>
		<key>order</key>
		<string>8</string>
	</dict>
</array>
</plist>
