<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>case_</string>
		<key>title</key>
		<string>Бизнес</string>
		<key>transactionType</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>imageName</key>
		<string>money_</string>
		<key>title</key>
		<string>Зарплата</string>
		<key>transactionType</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>imageName</key>
		<string>pig_</string>
		<key>title</key>
		<string>Сбережения</string>
		<key>transactionType</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>imageName</key>
		<string>present_</string>
		<key>title</key>
		<string>Подарки</string>
		<key>transactionType</key>
		<integer>2</integer>
	</dict>
</array>
</plist>
